<tr>
	<td>
		<%= f.number_field :amount %>
	</td>
	<td>
		<%= listed_card.card.name %>
	</td>
	<td>
		<%= listed_card.card.card_set.name %>
	</td>
	<% type_array = [] %>
	<%  listed_card.card.card_types.each { |type| type_array << type.name  } %>
	<td>
		<%= type_array.join(" ") %>
	</td> 
	<td>													
		<%= all_mana_cost_images(listed_card.card) %>
	</td>
	<td>
		<%= link_to "Move to Inventory", root_url %>
	</td>
</tr>
