<%= form_for @user, :url => "#{current_user.id}/update_lists", method: :post do |f| %>
	<%= f.fields_for :inventory_list do |list_fields| %>
		<table class="table-minimal fixed sortable">
			<tbody>
				<tr>
					<th>
		        <div class="tooltip-item wittlepicture">
		          <%= image_tag "box52.svg" %> 
		          <div class="tooltip">
		            <p>Inventory</p>
		          </div>
		        </div>
					</th>

					<th>
		        <div class="tooltip-item wittlepicture">
		          <%= image_tag "coins24.svg" %> 
		          <div class="tooltip">
		            <p>TradeList</p>
		          </div>
		        </div>
					</th>
					<th>
		        <div class = "tooltip-item wittlepicture">
		          <%= image_tag "star174.svg" %> 
		          <div class="tooltip">
		            <p>WishList</p>
		          </div>
		        </div>
					</th>
					<th>
						<h4>Name</h4>
					</th>
					<th>
						<h4>Set</h4>
					</th>						
					<th>
						<h4>TCGMid</h4>
					</th>
					<th>
						<h4>Type</h4>
					</th>
					<th>
						<h4>Cost</h4>
					</th>
				</tr>			
				<% if @user.inventory_cards.empty? && @user == current_user %>				
						</tbody>
					</table>
					<div class="empty-list-notice">There don't seem to be any cards in your Inventory. To find and add a card <a href="/cards">click here!</a></div>
				<% elsif @user.inventory_cards.empty? %>
						</tbody>
					</table>
					<div class="empty-list-notice">No cards to display</div>
				<% else %>
					<% i = 0 %>
						<%= list_fields.fields_for :listed_cards do |listed_card_fields| %>			
							<% listed_card = @user.inventory_cards[i] %>
								<tr>
									<td class="inventory-column inventory">
										<% if @user === current_user %>								
										<%= listed_card_fields.number_field :amount %>
										<% else %>
										<%= @user.amount_of_card_in("inventory_list", listed_card.card_id) %>
										<% end %>
									</td>
									<td class="tradeable-column tradeable">
										<% if @user === current_user %>								
											<% if @user.amount_of_card_in("tradeable_list", listed_card.card_id) == 0 %>
												<%= link_to "Add", add_to_tradeable_path(listed_card.card_id), :remote => true, :method => :put %>
											<% else %>   
												<%= @user.amount_of_card_in("tradeable_list", listed_card.card_id) %>
											<% end %>
										<% else %>
											<% if @user.amount_of_card_in("tradeable_list", listed_card.card_id) == 0 %>
												0
											<% else %>   
												<%= @user.amount_of_card_in("tradeable_list", listed_card.card_id) %>
											<% end %>
										<% end %>										
									</td>
									<td class="wanted-column wanted">
										<% if @user === current_user %>								
											<% if @user.amount_of_card_in("wanted_list", listed_card.card_id) == 0 %>
												<%= link_to "Add", add_to_wanted_path(listed_card.card_id), :remote => true, :method => :put %>
											<% else %>   
												<%= @user.amount_of_card_in("wanted_list", listed_card.card_id) %>
											<% end %>
										<% else %>
											<% if @user.amount_of_card_in("wanted_list", listed_card.card_id) == 0 %>
												0
											<% else %>   
												<%= @user.amount_of_card_in("wanted_list", listed_card.card_id) %>
											<% end %>
										<% end %>										
									</td>
									<td>
										<%= render 'user_lists_card_modal', listed_card: listed_card %>
									</td>
									<td>
										<%= listed_card.card.card_set.name %>
									</td>
									<td>
										<a href="#">$<%= listed_card.card.price %></a>
									</td>
									<% type_array = [] %>
									<%  listed_card.card.card_types.each { |type| type_array << type.name  } %>
									<td>
										<%= type_array.join(" ") %>
									</td> 
									<td>													
										<%= all_mana_cost_images(listed_card.card) %>
									</td>
								</tr>
							</tbody>							
							<% i += 1 %>
						<% end %>
					</table>
				<% end %>	
		<% end %>
	<% if @user === current_user %>
		<%= f.submit "Save" %>
	<% else %>
	<% end %>
<% end %>














