<div class="section-inner user-theme mobile-collapse">
	<ul>
		<% @users.each do |user| %>
			<li>
				<%= user.first_name %>, <%= user.last_name %>
				<%= link_to "Binder", user_path(user.id) %>
				<%= link_to "Propose Trade", new_user_trade_path(user.id) %>
			</li>
		<% end %>
	</ul>

	<% @current_position.each do |pimpdaddy| %>
		<%= pimpdaddy.email %>,
	<% end %>

</div>

