<h1>Find Users to Trade With</h1>

<table class='search-section'>
	<%= form_tag("/cards", :id => "add-card", method: "get") do %>
		<%= fields_for :card_fields do |ff| %>	
			<tr>				
				<td class = "form-box" colspan="2">
					<!-- <div class="input cardname_users_typeahead" id="cardname_users"> -->
						<%= ff.text_field  :name, :value => @card_name, class: "users_cardname", placeholder: "Card Name" %>
					<!-- </div> -->
				</td>
			</tr>
			<tr>
				<td>
					<div class= "input" id="cardset_users">										
						<%= ff.text_field  :card_set, placeholder: "Set", class: "" %>
					</div>
				</td>	
				
			</tr>
			<tr>
				<td>
					<%= label_tag :distance, "within" %>
					<% distance_options = [
						['< 1 km', 1],
						['< 5 km', 5],
						['< 10 km', 10],
						['< 25 km', 25],
						['< 50 km', 50],
						['< 100 km', 100],
					] %>
					<%= select_tag :distance, options_for_select(distance_options) %>
				</td>
				<td></td>
				<td></td>
				<td><%= ff.submit "Find", id: "submit-button" %></td>
			</tr>
		<% end %>	
	<% end %>
	
</table>

<!-- Cards to include -->
<div id="display-card">
	<%= render "cards/card_display_first" %>
</div>

<div id="display-users">
	<%= render "users/display_users", :users => @users %>
</div>


