<h1>Find Users to Trade With</h1>

<h3>Search for a card</h3>
<table class='search-section'>
	<%= form_tag("/cards", :id => "add-card", method: "get") do %>
		<%= fields_for :card_fields do |ff| %>	
			<tr>				
				<td class = "form-box">
					<%= ff.label :name, "Name:" %>
					<%= ff.text_field  :name %> 						
				</td>		
				<td>
					<%= ff.label :card_set, "Set:" %>
						<% set_options = ["All"] + CardSet.all.map { |set| set.name} %>		
						<%= ff.select :card_set, set_options %>
				</td>
			</tr>	
			<tr>
				<td>
					<%= ff.label :distance, "Distance" %>
					<% distance_options = [
						['< 1 km', 1],
						['< 5 km', 5],
						['< 10 km', 10],
						['< 25 km', 25],
						['< 50 km', 50],
						['< 100 km', 100],

					] %>
					<%= ff.select :distance, distance_options %>
				</td>
			</tr>
			<tr>
				<td><%= ff.submit "Search", :id => "submit-button" %></td>
			</tr>
		<% end %>	
	<% end %>
	
</table>

<!-- Cards to include -->
<div id="display-card"></div>

<div id="display-users">
	<%= render "display_users" %>
</div>


