<div class="section-inner user-theme mobile-collapse" >



<br/>	
		<% @current_position.each do |pimpdaddy| %>
		

		<%= link_to pimpdaddy.first_name , user_path(pimpdaddy.id) %> <%= link_to pimpdaddy.last_name , user_path(pimpdaddy.id) %>   is <%= current_user.distance_to(pimpdaddy).round(2) %> km away.
<br/>

		<% end %>
			
<br/>
	<h2>Trade Binder</h2>
		</br>
			<table>
				<tbody>
					<tr>
						<th>
							<h4>Quantity</h4>
						</th>
						<th>
							<h4>Card Name</h4>
						</th>
						<th>
							<h4>From Set</h4>
						</th>						
						<th>
							<h4>Card Type</h4>
						</th>

						<th>
							<h4>Color/Cost</h4>
						</th>
						<th>
							<h4>Propose Trade</h4>
						</th>
					</tr>
						<% current_user.tradeable_cards.each do |listed_card| %>
					<tr>
						<td>
							<%= listed_card.amount %>
						</td>
						<td>
							<%= link_to(listed_card.card.name, card_path)  %>
						</td>
						<td>							
							 <%= listed_card.card.card_set.name %>	 
						</td>
							<% type_array = [] %>
							<%  listed_card.card.card_types.each { |type| type_array << type.name  } %>
						<td>
							<%= type_array %>
						</td> 
						<td>				
							<%= all_mana_cost_images(listed_card.card) %>							
						</td>									
					
					<td>
						<%= link_to "Propose Trade", new_user_trade_path(current_user.id) %>
					</td>
				<% end %>
				</tbody>
			</table>

		</br>

	<h2>Wish List</h2>
		</br>
			<table>
				<tbody>
					<tr>
						<th>
							<h4>Quantity</h4>
						</th>
						<th>
							<h4>Card Name</h4>
						</th>
						<th>
							<h4>From Set</h4>
						</th>						
						<th>
							<h4>Card Type</h4>
						</th>

						<th>
							<h4>Color/Cost</h4>
						</th>
						<th>
							<h4>Search Nearby Cards</h4>
						</th>
					</tr>
						<% @user.wanted_cards.each do |listed_card| %>
					<tr>
						<td>
							<%= listed_card.amount %>
						</td>
						<td>
							<%= link_to(listed_card.card.name, card_path)  %>
						</td>
						<td>							
							 <%= listed_card.card.multiverseid %> - <%= listed_card.card.card_set.name %>	 
						</td>
							<% type_array = [] %>
							<%  listed_card.card.card_types.each { |type| type_array << type.name  } %>
						<td>
							<%= type_array %>
						</td> 
						<td>													
							<%= all_mana_cost_images(listed_card.card) %>
						</td>
						<td>									<%= link_to "Search for available cards nearby", new_user_trade_path(current_user.id) %>
						</td>									
					</tr>
				<% end %>
				</tbody>
			</table>	
		</div>
	</div>
</div>