<div>

<br/>	
		<% @current_position.each do |pimpdaddy| %>
		

		<%= link_to pimpdaddy.first_name , user_path(pimpdaddy.id) %> <%= link_to pimpdaddy.last_name , user_path(pimpdaddy.id) %>   is <%= current_user.distance_to(pimpdaddy).round(2) %> km away.
<br/>

		<% end %>
			
<br/>
	<h2><%= link_to "Inventory", fetch_list_path(:list_id => @user.inventory_list.id), :remote => true %> / <%= link_to "Trade Binder", fetch_list_path(:list_id => @user.tradeable_list.id), :remote => true %> / <%= link_to "Wish List", fetch_list_path(:list_id => @user.wanted_list.id), :remote => true %></h2>

	<div id="list-partial">
		
	</div>

</div>



