<div class="section-inner user-theme mobile-collapse" >
	<div class="body-content body-content-user">
		<div class="id-section">
			
			
				
	
	
		<% @current_position.each do |pimpdaddy| %>
		<%= pimpdaddy.first_name %> is <%= current_user.distance_to(pimpdaddy).round(2) %> km away.
<br/>
		<% end %>
			
			<h2>Your cards</h2>
				<% @user.tradeable_cards.each do |listed_card| %>
					<%= listed_card.amount %>
					<%= listed_card.card.name %>
					<br>
				<% end %>			

			<h2>Wishlist</h2>
				<% @user.wanted_cards.each do |listed_card| %>
					<%= listed_card.amount %>
					<%= listed_card.card.name %>
					<br>
				<% end %>

		</div>
	</div>
</div>