<div class="users show">

	<div class="titleofpage">
		<h1 id="user" data-id=<%= @user.id %>>
			<% if @user == current_user %>
				My Binder
			<% else %>
				<%= @user.full_name %>'s Binder
			<% end %>
		</h1>

	</div>
	<h4>
		<% unless @user == current_user %>
		<div>
			<button id="new-trade-user-show">
					<%= link_to "Propose Trade", new_user_trade_path(@user.id) %> <br>
					Can Give $<%= current_user.can_give(@user) %> / Can Receive $<%= current_user.can_receive(@user) %>
				<% end %>
			</button>
		<div>
	</h4> 

<div class = "clear"></div>
	<ul class="accordion-tabs">
		<li class="tab-header-and-content">
				<%= link_to "Inventory", fetch_list_path(:list_id => @user.inventory_list.id, :user_id => @user.id), :class => "is-active tab-link", :remote => true %>
				<div class="tab-content">
					<%= render "inventory_list" %>
				</div>
		</li>
		<li class="tab-header-and-content">
			<%= link_to "Trade List", fetch_list_path(:list_id => @user.tradeable_list.id, :user_id => @user.id), :class => "tab-link", :remote => true %>
			<div class="tab-content">
				<%= render "tradeable_list" %>
			</div>
		</li>
		<li class="tab-header-and-content">
			<%= link_to "Wish List", fetch_list_path(:list_id => @user.wanted_list.id, :user_id => @user.id), :class => "tab-link", :remote => true %>
			<div class="tab-content">
				<%= render "wanted_list" %>
			</div>
		</li>

	</ul>

</div>




