<div class="yowhowho section-inner user-theme mobile-collapse" >


<br/>	
		<% @current_position.each do |pimpdaddy| %>
		

		<%= link_to pimpdaddy.first_name , user_path(pimpdaddy.id) %> <%= link_to pimpdaddy.last_name , user_path(pimpdaddy.id) %>   is <%= current_user.distance_to(pimpdaddy).round(2) %> km away.
<br/>

		<% end %>
			
<br/>
	<h2>Trade Binder</h2>
		</br>
		<%= form_for @user do |f| %>
			<%= f.fields_for :tradeable_list do |list_fields| %>
				<%= render "tradeable_list", :ff => list_fields %>
			<% end %>
			<%= f.submit "Save" %>
		<% end %>
		</br>

	<h2>Wish List</h2>
		</br>
		<%= form_for @user do |f| %>
			<%= f.fields_for :wanted_list do |list_fields| %>
				<%= render "wanted_list", :ff => list_fields %>
			<% end %>
			<%= f.submit "Save" %>
		<% end %>
		</br>

	<h2>Inventory</h2>
		</br>
		<%= form_for @user do |f| %>
			<%= f.fields_for :inventory_list do |list_fields| %>
				<%= render "inventory_list", :ff => list_fields %>
			<% end %>
			<%= f.submit "Save" %>
		<% end %>
</div>



