
<!-- stylesheet modules/table_styling.scss -->



<table class="table-minimal">
  <thead>
    <tr>
      <th> Name</th>
      <th>Type</th>
      <th>Cost</th>
      <th>Set</th>
      <th>TCGMid</th>
      <th>I</th>
      <th>T</th>
      <th>W</th>
    </tr>
  </thead>
  <tbody>
    <% @cards.each do |card| %>

    <tr>
     <td>
        
      <div class="modal">
        <label for="<%= card.id %>">
          <div class="modal-trigger"><%= card.name %></div>
        </label>
        <input class="modal-state" id="<%= card.id %>" type="checkbox" />
        <div class="modal-window">
          <div class="modal-inner">
            <label class="modal-close" for="<%= card.id %>"></label>
            <div id="modal-display">

              <h1><%= card.name %></h1>
              <img class="card" src="http://mtgimage.com/setname/<%="#{card.card_set.name}"%>/<%= "#{card.name}" %>.jpg" alt="A bird on a fence" />
              <div id ="card-info">
                <table >
                  <tr>
                    <td>
                      <%= card.card_set.name %>
                    </td>
                    
                  </tr>
                  <tr>
                    <td>
                      <%= card.card_types.first.name %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <%= card.mana_cost %>
                      <%= card.flavor %>
                    </td>
                  </tr>

                </table>
              </div>
              <!-- <div> 
                <%= link_to "Add to Inventory", add_to_inventory_path(card.id), :method => :put %>
                <%= link_to "Add to Trade Binder", add_to_tradeable_path(card.id), :method => :put %> <%= link_to "Add to Wishlist", add_to_wanted_path(card.id), :method => :put %>
              </div> -->

            </div>
          </div>
        </div>
      </div>

      </td>
      <td>
        <%= card.card_types.first.name %>
      </td>
      <td>
        <%= all_mana_cost_images(card) %>
      </td>
      <td>
        <%= card.card_set.name %>
      </td>
      <td>
        <a href="#">$<%= card.price %></a>
      </td>
      <td class="inventory">
        <%= link_to add_to_inventory_path(card.id), :remote => true, class: "add-inventory", data: {card_name: card.name}, :method => :put do %>
          +
        <% end %>
      </td>
      <td class="tradeable">
        <%= link_to add_to_tradeable_path(card.id), :remote => true, class: "add-tradeable", data: {card_name: card.name}, :method => :put do %> 
          +
        <% end %>
      </td>
      <td class="wanted">
        <%= link_to add_to_wanted_path(card.id), :remote => true, class: "add-wanted", data: {card_name: card.name}, :method => :put do %>
         +
        <%end%> 
      </td>

    </tr>
  <% end %>
  </tbody>
</table>









