	
<div class="section-inner">
	<% @cards.each_slice(3) do |cards| %>

		<div class="body-content">
			
				<!-- thirds -->
				<div class="thirds clearfix">
					<% i = 0 %>
					<% cards.each do |card| %>
						<% i += 1 %>
						<% j = "first" if i == 1 %>
						<% j = "second" if i == 2 %>
						<% j = "last" if i == 3 %>
						<div class="one-third one-third-<%= "#{j}" %> mobile-collapse">
							<img class="card" src="http://mtgimage.com/setname/<%="#{card.card_set.name}"%>/<%= "#{card.name}" %>.jpg" alt="A bird on a fence" />
							<h2>Card Name: <%= card['name'] %>  <%= card['manaCost'] %> </h2>
							<p><%= card['type'] %></p> <br/>
							<p>Card Text: <%= card['text'] %> </p> <br/>
							<p><%= card['flavor'] %></p> <br/>
							<p><%= card['artist'] %></p> 
							<p> <%= link_to "Add Card to Binder", add_to_tradeable_path(card.id), :method => :put %> </p> 					
							<p><%= link_to "Add Card to Wishlist", add_to_wanted_path(card.id), :method => :put %></p> 
						</div>

					<% end %>
				</div><!--/one-third-->
		</div>
	<% end %>
</div>