<div class='search-form' %>
	<%= form_tag("/cards", method: "get") do %>
	<%= fields_for :card_fields do |ff| %>
	  		<table>
	  			<tbody>
	  				<tr>
	  					<td>
	  						<%= ff.label :name, "Card Name:" %>
	  					</td>
	  					<td>
	  						<%= ff.text_field :name %>
	  					</td>
	  				</tr>
	  				<tr>
	  					<td>
	  						<%= ff.label :type, "Card Type:" %>

	  					</td>
	  					<td>
	  						<% type_options = 
		  						[
		  							['',''],
		  							['Artifact','Artifact'],
									['Basic','Basic'],
									['Conspiracy','Conspiracy'],
									['Creature','Creature'],
									['Enchantment','Enchantment'],
									['Instant','Instant'],
									['Land','Land'],
									['Legendary','Legendary'],
									['Ongoing','Ongoing'],
									['Phenomenon','Phenomenon'],
									['Plane','Plane'],
									['Planeswalker','Planeswalker'],
									['Scheme','Scheme'],
									['Snow','Snow'],
									['Tribal','Tribal'],
									['Vanguard','Vanguard'],
									['World','World']
								] %>
		  					<%= ff.select :type, type_options %>
	  					</td>
	  				</tr>
	  				<tr>
						<td>
							<%= ff.label :subtypes, "Card subtypes:" %>
						</td>
						<td>
							<%= ff.text_field :subtypes %>	
						</td>		  					
	  				</tr>
	  				<tr>
	  					<td>
	  						<%= ff.label :cmcmod, "CMC:" %>
	  						<% cmcmod_options = [['<','lt'],['<=','lte'],['=','e'], ['>=','gte'],['>','gt']]%>
							<%= ff.select :cmcmod, cmcmod_options %>
	  					</td>
	  					<td>
	  						<%= ff.number_field :cmc %>	  						
	  					</td>				
	  				</tr>
	  				<tr>
	  					<td>
	  						<%= ff.label :artist, "Artist Name:" %>
	  					</td>
	  					<td>
	  						<%= ff.text_field :artist %>
	  					</td>
	  				</tr>
	  				<tr>
	  					<td>
	  					 	<div class='submit-button'>
  								<%= submit_tag("Search") %>
  							</div>
  						</td>		  					
	  				</tr>
	  			<% end %>
				
	  			</tbody>
	  		<% end %>
	  		</table>
</div>