<div class='search-section' > 
	<%= form_tag("/cards", method: "get") do %>
		<%= fields_for :card_fields do |ff| %>
			<div class = "form-box">
				<%= ff.label :name, "Card Name:" %>
				<%= ff.text_field  :name %> 
			</div>

			<div class = "form-box">
				<%= ff.label :card_type, "Card Type:" %>
				<% type_options = 
					[
						['',''],
						['Artifact','Artifact'],
					['Basic','Basic'],
					['Conspiracy','Conspiracy'],
					['Creature','Creature'],
					['Enchantment','Enchantment'],
					['Instant','Instant'],
					['Land','Land'],
					['Legendary','Legendary'],
					['Ongoing','Ongoing'],
					['Phenomenon','Phenomenon'],
					['Plane','Plane'],
					['Planeswalker','Planeswalker'],
					['Scheme','Scheme'],
					['Sorcery','Sorcery'],
					['Snow','Snow'],
					['Tribal','Tribal'],
					['Vanguard','Vanguard'],
					['World','World']
					] %>

		
				<%= ff.select :card_type, type_options %>
			</div>
			
			<div class = "form-box">						
				<%= ff.label :subtypes, "Card subtypes:" %>						
					<%= ff.text_field :subtypes %>	
			</div>
			<div class = "form-box">						
				<%= ff.check_box(:white) %>
				<%= ff.label(:white, image_tag( src="http://mtgimage.com/symbol/mana/w/32.gif")) %>
				<%= ff.check_box(:blue) %>
				<%= ff.label(:blue, image_tag( src="http://mtgimage.com/symbol/mana/u/32.gif")) %>
				<%= ff.check_box(:black) %>
				<%= ff.label(:black, image_tag( src="http://mtgimage.com/symbol/mana/b/32.gif")) %>
				<%= ff.check_box(:red) %>
				<%= ff.label(:red, image_tag( src="http://mtgimage.com/symbol/mana/r/32.gif")) %>
				<%= ff.check_box(:green) %>
				<%= ff.label(:green, image_tag( src="http://mtgimage.com/symbol/mana/g/32.gif")) %>
			</div>
			<div class = "form-box">
				<%= ff.label :cmcmod, "CMC:" %>
				<% cmcmod_options = [['<','>'],['<=','<='],['=','='], ['>=','>='],['>','>']] %>
				<%= ff.select :cmcmod, cmcmod_options %>
				<%= ff.number_field :cmc %>	  
			</div>						
		
			<div class = "form-box">					
				<%= ff.label :artist, "Artist Name:" %>
				<%= ff.text_field :artist %>
			</div>

			 <div class="submit-button center">
					<%= submit_tag("Search") %>
			</div>
		<% end %>	
	<% end %>
</div>

