<!-- Style found at /modules/search -->

<%= form_tag("/cards", method: "get") do %>
	<%= fields_for :card_fields do |ff| %>	
		<h1>Card Search</h1>
		<div class="name-input-width-resize">
		<table>
			<tr class="search-form-row">
				<td></td>
				<div class = "box ">						
					<td colspan="2" id="td-name">
						<div class ="input custom-templates name-input" style="width:473px">
							<%= ff.text_field  :name, placeholder: "Name", class: "typeahead name-input" %>
						</div> 	
					</td>
				</div>
			</tr>
			<tr class="search-form-row">
				<td></td>
				<div class = "box ">	
					<td colspan="3">	
						<div class="input" id="cardset">										
							<%= ff.text_field  :card_set, placeholder: "Set", class: "cardset_typeahead" %>
						</div>
						<div class="input" id="cardtype">										
							<%= ff.text_field :card_type, placeholder: "Type", class: "cardtype_typeahead" %>
						</div>
						<div class="input" id="cardsubtype">					
							<%= ff.text_field :subtypes, placeholder: "Subtype (ie. Goblin)", class: "cardsubtype_typeahead" %>
						</div>
					</td>
				</div>			
			</tr>
			<tr class="search-form-row">
				<td></td>
				<div class = "box ">	
					<td>	
						
					</td>
				</div>	
				<div class = "box ">	
					<td>	
						
					</td>
				</div>		
			</tr>
			<tr class="search-form-row">
				<td></td>
				<div class = "box " id="artist">	
					<td colspan="2">	
						<div class="input">
							<%= ff.text_field :artist, placeholder: "Artist Name", class: "artist_typeahead" %>
						</div>
					</td>
				</div>
			</tr>
			<tr class="search-form-row"> 
				<div class = "box ">	
					<td></td>
					<td>
						<div class= "input", id="boxes">
							<%= ff.check_box(:white) %>
							<%= ff.label(:white, image_tag( src="http://mtgimage.com/symbol/mana/w/32.gif")) %>
							<%= ff.check_box(:blue) %>
							<%= ff.label(:blue, image_tag( src="http://mtgimage.com/symbol/mana/u/32.gif")) %>
							<%= ff.check_box(:black) %>
							<%= ff.label(:black, image_tag( src="http://mtgimage.com/symbol/mana/b/32.gif")) %>
							<%= ff.check_box(:red) %>
							<%= ff.label(:red, image_tag( src="http://mtgimage.com/symbol/mana/r/32.gif")) %>
							<%= ff.check_box(:green) %>
							<%= ff.label(:green, image_tag( src="http://mtgimage.com/symbol/mana/g/32.gif")) %>
						</div>
					</td>
					<td>
						<div class="input cmc-container">
							<div id="first">
								<%= ff.select :cmcmod, @cmcmod_options %> 
							</div>
							<div id="second">
								<%= ff.number_field :cmc, placeholder: "CMC" %>
							</div>
							</div>
						</div>
					</td>
				</div>
			</tr>		
			<tr class="search-form-row">
				<div class = "box ">	
					<td></td>

				</div>
			</tr>	
			<tr class="search-form-row">
				<td></td>
				<td>
					<div class="box ">
						<div class ="input", id = "boxes">
							<br><%= submit_tag("Search") %>
						</div>
				 	</div>
				</td>
			</tr>																			
				
			</tbody>
		</table>
		</div>
	<% end %>	
<% end %>