<!-- Style found at /modules/search -->

<%= form_tag("/cards", method: "get") do %>
	<%= fields_for :card_fields do |ff| %>	
		<h1>Card Search</h1>
		<table>
			<tr>
				<td></td>
				<div class = "box ">						
					<td colspan="2">
						<div class ="input">
							<%= ff.text_field  :name, placeholder: "Name", class: "typeahead" %>
						</div> 	
					</td>
				</div>
			</tr>
			<tr>
				<td></td>
				<div class = "box ">	
					<td colspan="2">	
						<div class="input">										
							<%= ff.text_field  :card_set, placeholder: "Set", class: "typeahead" %>
						</div>
					</td>
			</div>			
			</tr>
			<tr>
				<td></td>
				<div class = "box ">	
					<td>	
						<div class="input">										
							<%= ff.text_field :card_type, placeholder: "Type", class: "typeahead" %>
						</div>
					</td>
				</div>	
				<div class = "box ">	
					<td>	
						<div class="input">					
							<%= ff.text_field :subtypes, placeholder: "Subtype (ie. Goblin)" %>
						</div>
					</td>
				</div>		
			</tr>
			<tr>
				<td></td>
				<div class = "box ">	
					<td colspan="2">	
						<div class="input">
							<%= ff.text_field :artist, placeholder: "Artist Name" %>
						</div>
					</td>
				</div>
			</tr>
			<tr>
				<div class = "box ">	
					<td></td>
					<td></td>
					<td>
						<div class="input">
							<%= ff.select :cmcmod, @cmcmod_options %> 
							</div>
							<%= ff.number_field :cmc, placeholder: "CMC" %>
							</div>
						</div>
					</td>
				</div>
			</tr>		
			<tr>
				<div class = "box ">	
					<td></td>
					<td>
						<div class= "input", id="boxes">
							<%= ff.check_box(:white) %>
							<%= ff.label(:white, image_tag( src="http://mtgimage.com/symbol/mana/w/32.gif")) %>
							<%= ff.check_box(:blue) %>
							<%= ff.label(:blue, image_tag( src="http://mtgimage.com/symbol/mana/u/32.gif")) %>
							<%= ff.check_box(:black) %>
							<%= ff.label(:black, image_tag( src="http://mtgimage.com/symbol/mana/b/32.gif")) %>
							<%= ff.check_box(:red) %>
							<%= ff.label(:red, image_tag( src="http://mtgimage.com/symbol/mana/r/32.gif")) %>
							<%= ff.check_box(:green) %>
							<%= ff.label(:green, image_tag( src="http://mtgimage.com/symbol/mana/g/32.gif")) %>
						</div>
					</td>
				</div>
			</tr>	
			<tr>
				<td>
					<div class="box ">
						<div class ="input", id = "boxes">
							<%= submit_tag("Search") %>
						</div>
				 	</div>
				</td>
			</tr>																			
				
			</tbody>
		</table>
	<% end %>	
<% end %>