
<h2>Search for Cards</h2>

<%= render '/cards/search' %>

<!-- if statement needs to be fixed, this is a lazy hack to get it to work
     if only a single card is returned -->
<% if @cards.respond_to? :count %>
	<% @cards.each do |card| %>
			<div>
				<p>Card Name: <%= card['name'] %>  <%= card['manaCost'] %></p>
				<p><%= card['type'] %></p>
				<p>Card Text: <%= card['text'] %></p>
				<p><%= card['flavor'] %></p>
				<p><%= card['artist'] %></p>
			</div>
	<% end %>
<% end %>









