
<h2>Search for Cards</h2>

<%= form_tag("/cards", method: "get") do %>
	<%= fields_for :card_fields do |ff| %>
	  	<div>
		  <%= ff.label :name, "Card Name:" %>
		  <%= ff.text_field :name %>
	  	</div>
	  	<div>
	  		<p>Card Type: <%= ff.select :type, [['',''],['Instant','Instant']] %></p>
	  	</div>
	  	<div>
		  <%= ff.label :subtypes, "Card subtypes:" %>
		  <%= ff.text_field :subtypes %>
	  	</div>
	  	<div>
		  <p>CMC: 
		  	<%= ff.select :cmcmod, [['<','lt'],['<=','lte'],['=','e'], ['>=','gte'],['>','gt']] %>
			<%= ff.select :cmc, [['',''], ['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7]] %></p>
	  	</div>
  	<% end %>
  <%= submit_tag("Search") %>
<% end %>

<% @cards.each do |card| %>
		<div>
			<p>Card Name: <%= card['name'] %></p>
			<p>Mana Cost: <%= card['manaCost'] %></p>
			<p>Types: <%= card['types'] %></p>
			<p>Card Text: <%= card['text'] %></p>
		</div>
<% end %>










