<table class="table-minimal">
	<thead>
		<tr>
			<th>qty</th>
			<th>Wanted by <%= @trade.other_user(user).full_name %></th>
			<th>Available</th>
			<th>Name</th>
			<th>Set</th>
			<th>$</th>
		</tr>
	</thead>
	<tbody>
		<% i = 0 %>
		<% user.tradeable_cards.each do |listed_card| %>
		<tr>
			<td>
			<% if init_or_receiv == "initiator" %>
				<%= select_tag "trade[cards_from_#{init_or_receiv}][#{listed_card.id.to_i}]", options_for_select((Array.new(listed_card.amount + 1) { |i| i }), @trade.qty_from_initiator[i]), disabled: bool  %>
				<% elsif %>
				<%= select_tag "trade[cards_from_#{init_or_receiv}][#{listed_card.id.to_i}]", options_for_select((Array.new(listed_card.amount + 1) { |i| i }), @trade.qty_from_receiver[i]), disabled: bool  %>
			<% end %>	
			</td>
			<td>
				<% if @trade.other_user(user).wanted_cards.find_by(card_id: listed_card.card_id) != nil %>
					<%= @trade.other_user(user).wanted_cards.find_by(card_id: listed_card.card_id).amount %>
				<% else %>
					None
				<% end %>
			</td>
			<td>
				<%= listed_card.amount %>
			</td>
			<td>
				<%= listed_card.card.name %>		
			</td>
			<td>
				<%= listed_card.card.card_set.name %>
			</td>
			<td>
				$ 10
			</td>
		<% i +=1 %>
		</tr>
		<% end %>
	</tbody>

</table>