<table class="table-minimal">
	<thead>
		<tr>
			<th>qty</th>
			<th>Wanted by <%= @trade.other_user(user).full_name %></th>
			<th>Available</th>
			<th>Name</th>
			<th>Set</th>
			<th>TCGMid</th>
		</tr>
	</thead>
	<tbody>
		<%= if user.tradeable_cards_wanted_by(@trade.other_user(user)).count == 0 %>
			<tr>
				<td colspan="6">No cards to display</td>
			</tr>
		<% else %>
		<% user.tradeable_cards_wanted_by(@trade.other_user(user)).each do |listed_card| %>
			<tr>
				<td>
					<%= select_tag "trade[cards_from_#{init_or_receiv}][#{listed_card.id.to_i}]", options_for_select((Array.new(listed_card.amount + 1) { |i| i }), @trade.listed_card_qty_in_trade(listed_card, init_or_receiv)), disabled: bool, :class => "wanted-by #{init_or_receiv}-qty", :data => {:price => listed_card.card.price}   %>
				</td>
				<td>
					<% if @trade.other_user(user).wanted_cards.find_by(card_id: listed_card.card_id) != nil %>
						<%= @trade.other_user(user).wanted_cards.find_by(card_id: listed_card.card_id).amount %>
					<% else %>
						None
					<% end %>
				</td>
				<td>
					<%= listed_card.amount %>
				</td>
				<td>
					<%= listed_card.card.name %>		
				</td>
				<td>
					<%= listed_card.card.card_set.name %>
				</td>
				<td>
					<a href="#">$<%= listed_card.card.price %></a>
				</td>
			</tr>
		<% end %>
	<% end %>
		<tr>
			<td>
				Total value:
			</td>
			<td id=<%= "wanted-by-card-total-#{init_or_receiv}" %>></td>
		</tr>
	</tbody>

</table>