	<table class="table-minimal sortable list-trades-table">
		<thead>
			<tr>
				<th></th>
				<th>User</th>
				<th>Delta</th>
				<th>Status</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
<% if (@user.initiated_trades.where(status: status).count == 0) && (@user.received_trades.where(status: status).count == 0) %>
		</tbody>
	</table>
	<div class="empty-list-notice">You don't have any
		<% ' active ' if status == "pending" %>
		<% ' completed ' if status == "complete" %>
		<% ' cancelled ' if status == "cancelled" %>
		trades. To find people to trade with <%= link_to "click here!", users_path %>
	</div>
<% else %>
		<% @trades.where(status: status).each do |trade| %>
			<tr>
				<td>
					<%= button_to "View", trade_path(trade.id), class: "view-trade-button", method: :get %>
				</td>
				<td>
					<% other_user = trade.other_user(current_user) %>
					<h2><%= link_to "#{other_user.full_name}", user_path(other_user.id) %></h2>
				</td>
				<td>
					<%= trade.card_value_difference_string(current_user) %>
				</td>
				<td>
					<%= trade.display_status(current_user) %>
				</td>
				<% unless trade.status == "cancelled" || trade.status == "complete" %>
					<td>
						<%= button_to "Cancel", cancel_trade_path(trade.id), class: "cancel-trade-button", method: :destroy %>
					</td>
				<% end %>
			</tr>
		<% end %>
		</tbody>

	</table>
<% end %>