<div class="section-inner search-theme mobile-collapse">

		<%= form_for [@user, @trade] do |f| %>

			<h2>Your Cards</h2>
			<%= render "display_current_user_tradeable_cards", :bool => false %>

			<h2><%= @user.first_name %>'s Cards</h2>
			<%= render "display_user_tradeable_cards", :bool => false %>

			<%= f.submit "Propose Trade" %>
		<% end %>
</div>

