<div class="section-inner search-theme mobile-collapse">

	<%= form_for [@user, @trade] do |f| %>

		<h2>Your Cards</h2>
		<% current_user.tradeable_cards.each do |listed_card| %>
			<%= check_box_tag "trade[cards_from_initiator][]", listed_card.id %>
			<%= listed_card.card.name %> <br>
		<% end %>

		<h2><%= @user.first_name %>'s Cards</h2>
		<% @user.tradeable_cards.each do |listed_card| %>
			<%= check_box_tag "trade[cards_from_receiver][]", listed_card.id %>
			<%= listed_card.card.name %> <br>
		<% end %>

		<%= f.submit "Propose Trade" %>
	<% end %>
</div>
