
<div class="section-inner search-theme mobile-collapse">

	<%= form_for [@user, @trade] do |f| %>

		<%= fields_for :initiator_traded_by do |ff| %>
			<% current_user.tradeable_cards.each do |listed_card| %>
			 	<%= check_box_tag "start_initiator_list[]", checked_value = listed_card.id %>
			 	<%= listed_card.card.name %>
			 	<br>
			<% end %>
		<% end %>

		<%= fields_for :receiver_traded_by do |ff| %>
			<% @user.tradeable_cards.each do |listed_card| %>
			 	<%= check_box_tag "start_receiver_list[]", checked_value = listed_card.id %>
			 	<%= listed_card.card.name %>
			 	<br>
			<% end %>
		<% end %>

		<%= f.submit "Propose Trade" %>
	<% end %>
</div>
