<h1>New Trade with <%= @user.full_name %></h1>
<div class="section-inner search-theme mobile-collapse">

	<div class="message-button">
		<button type="button" class="js-menu-trigger sliding-menu-button" disabled="disabled">
		  Messages
		</button>
	</div>

		<%= form_for [@user, @trade] do |f| %>

			<h2>Your Cards</h2>
			<ul class="accordion-tabs">
				<li class="tab-header-and-content">
					<%= link_to "Trade List", root_url, :class => "is-active tab-link", :remote => true %>
					<div class="tab-content toggle-select">
						<%= render "display_tradeable_cards", :bool => false, :user => current_user, :init_or_receiv => @current_user_status %>
					</div>
				</li>
				<li class="tab-header-and-content">
					<%= link_to "Wanted by #{@user.full_name}", root_url, :class => "tab-link", :remote => true %>
					<div class="tab-content toggle-select">
						<%= render "display_tradeable_wanted_cards", :bool => true, :user => current_user, :init_or_receiv => @current_user_status %>
					</div>
				</li>
			</ul>

			<h2><%= @user.first_name %>'s Cards</h2>
			<ul class="accordion-tabs">
				<li class="tab-header-and-content">
					<%= link_to "Trade List", root_url, :class => "is-active tab-link", :remote => true %>
					<div class="tab-content toggle-select">
						<%= render "display_tradeable_cards", :bool => false, :user => @user, :init_or_receiv => @user_status %>
					</div>
				</li>
				<li class="tab-header-and-content">
					<%= link_to "Wanted by #{current_user.full_name}", root_url, :class => "tab-link", :remote => true %>
					<div class="tab-content toggle-select">
						<%= render "display_tradeable_wanted_cards", :bool => true, :user => @user, :init_or_receiv => @user_status %>
					</div>
				</li>
			</ul>

			<%= f.submit "Propose Trade", class: "trades-propose-button" %>
		<% end %>
</div>

