<div>

	<% if @trade.initiator == current_user %>
		<%= form_for @trade do |f| %>
			<h2>Your Cards</h2>
			<%= render "display_tradeable_cards", :bool => true, :user => @trade.initiator, :init_or_receiv => "initiator" %>
			<h2><%= @trade.other_user(current_user).full_name %>'s Cards</h2>
			<%= render "display_tradeable_cards", :bool => true, :user => @trade.receiver, :init_or_receiv => "receiver" %>
		<% end %>

	<% elsif @trade.receiver == current_user %>
		<%= form_for @trade do |f| %>
			<h2>Your Cards</h2>
			<%= render "display_tradeable_cards", :bool => true, :user => @trade.initiator, :init_or_receiv => "initiator" %>
			<h2><%= @trade.other_user(current_user).full_name %>'s Cards</h2>
			<%= render "display_tradeable_cards", :bool => true, :user => @trade.receiver, :init_or_receiv => "receiver" %>

		<% end %>
	<% end %>

	<% unless @trade.status == "complete" || @trade.status == "cancelled" %>
		<%= link_to "Edit Trade", edit_trade_path(@trade.id) %>
		<%= button_to "Accept Trade", accept_trade_path(@trade.id) %>
	<% end %>

</div>