<div>
	<h2>Trade with <%= @trade.other_user(current_user).full_name %></h2>
	<div class="modal">
	  <label for="modal-1">
	    <div class="modal-trigger">Messages</div>
	  </label>
	  <input class="modal-state" id="modal-1" type="checkbox" />
	  <div class="modal-window">
	    <div class="modal-inner">
	      <label class="modal-close" for="modal-1"></label>
	      <h1>Message <%= @trade.other_user(current_user).full_name %></h1>
	      	<div id="comments-partial">
	      		<%= render 'comments/comments' %>
	      	</div>
	      	<div>
	      		<%= form_for [@trade, @comment], :remote => true do |form| %>
	      			<div>
	      				<%= form.text_area :body %>
	      				<%= form.submit "Send", :id => "submit-button", :data => {:trade_id => @trade.id } %>
	      			</div>
	      		<% end %>
	      	</div>
	    </div>
	  </div>
	</div>

	<% if @trade.status == "pending" %>
		<%= form_for @trade do |f| %>
			<h2>Your Cards</h2>
			<ul class="accordion-tabs">
				<li class="tab-header-and-content">
					<%= link_to "Trade List", root_url, :class => "is-active tab-link", :remote => true %>
					<div class="tab-content">
						<%= render "display_tradeable_cards", :bool => true, :user => current_user, :init_or_receiv => @current_user_status %>
					</div>
				</li>
				<li class="tab-header-and-content">
					<%= link_to "Wanted by #{@user.full_name}", root_url, :class => "tab-link", :remote => true %>
					<div class="tab-content">
						<%= render "display_tradeable_wanted_cards", :bool => true, :user => current_user, :init_or_receiv => @current_user_status %>
					</div>
				</li>
			</ul>
			<h2><%= @trade.other_user(current_user).full_name %>'s Cards</h2>
			<ul class="accordion-tabs">
				<li class="tab-header-and-content">
					<%= link_to "Trade List", root_url, :class => "is-active tab-link", :remote => true %>
					<div class="tab-content">
						<%= render "display_tradeable_cards", :bool => true, :user => @user, :init_or_receiv => @user_status %>
					</div>
				</li>
				<li class="tab-header-and-content">
					<%= link_to "Wanted by #{current_user.full_name}", root_url, :class => "tab-link", :remote => true %>
					<div class="tab-content">
						<%= render "display_tradeable_wanted_cards", :bool => true, :user => @user, :init_or_receiv => @user_status %>
					</div>
				</li>
			</ul>
		<% end %>

		<%= link_to "Edit Trade", edit_trade_path(@trade.id) %>
		<%= button_to "Accept Trade", accept_trade_path(@trade.id) %>

	<% elsif @trade.status == "complete" || @trade.status == "cancelled" %>
			<h2>Your Cards</h2>
				<%= render "display_cancelled_or_complete_trade", :user => current_user, init_or_receiv: @current_user_status, :bool => true %>

			<h2><%= @trade.other_user(current_user).full_name %>'s Cards</h2>
				<%= render "display_cancelled_or_complete_trade", :user => @user, init_or_receiv: @user_status, :bool => true %>
	<% end %>

</div>