<h1>Trade with <%= @user.full_name %></h1>
<div>

	<div class="message-button">
		<button type="button" class="js-menu-trigger sliding-menu-button">
		  Messages (<%= @trade.comments.count %>)
		</button>
	</div>
	<nav class="js-menu sliding-menu-content">
		<div class="comment-title">
	    <h1>Message <%= @trade.other_user(current_user).full_name %></h1>
    </div>
  	<div class="comments-partial" id="trade-comments" data-trade-id="<%= @trade.id %>">
  		<%= render 'comments/comments' %>
  	</div>
  	<div id="comment-submit">
  		<%= form_for [@trade, @comment], :remote => true do |form| %>
  			<div>
  				<%= form.text_area :body %>
  				<%= form.submit "Send", :id => "submit-button", :data => {:trade_id => @trade.id } %>
  			</div>
  		<% end %>
  	</div>
	</nav>

	<div class="js-menu-screen sliding-menu-fade-screen"></div>



	<% if @trade.status == "pending" %>
		<%= form_for @trade do |f| %>
		<div>
			<h1>Your Cards</h1>
		</div>
			<ul class="accordion-tabs">
				<li class="tab-header-and-content">
					<%= link_to "Trade List", root_url, :class => "is-active tab-link", :remote => true %>
					<div class="tab-content">
						<%= render "display_tradeable_cards", :bool => true, :user => current_user, :init_or_receiv => @current_user_status %>
					</div>
				</li>
				<li class="tab-header-and-content">
					<%= link_to "Wanted by #{@user.full_name}", root_url, :class => "tab-link", :remote => true %>
					<div class="tab-content">
						<%= render "display_tradeable_wanted_cards", :bool => true, :user => current_user, :init_or_receiv => @current_user_status %>
					</div>
				</li>
			</ul>
			<h1><%= @trade.other_user(current_user).full_name %>'s Cards</h1>
			<ul class="accordion-tabs">
				<li class="tab-header-and-content">
					<%= link_to "Trade List", root_url, :class => "is-active tab-link", :remote => true %>
					<div class="tab-content">
						<%= render "display_tradeable_cards", :bool => true, :user => @user, :init_or_receiv => @user_status %>
					</div>
				</li>
				<li class="tab-header-and-content">
					<%= link_to "Wanted by #{current_user.full_name}", root_url, :class => "tab-link", :remote => true %>
					<div class="tab-content">
						<%= render "display_tradeable_wanted_cards", :bool => true, :user => @user, :init_or_receiv => @user_status %>
					</div>
				</li>
			</ul>
		<% end %>

		<%= link_to "Edit Trade", edit_trade_path(@trade.id) %>
		<%= button_to "Accept Trade", accept_trade_path(@trade.id) %>

	<% elsif @trade.status == "complete" || @trade.status == "cancelled" %>
			<h2>Your Cards</h2>
			<ul class="accordion-tabs">
				<li class="tab-header-and-content">
					<%= link_to "Trade List", root_url, :class => "is-active tab-link", :remote => true %>
					<div class="tab-content">
						<%= render "display_cancelled_or_complete_trade", :bool => true, :user => current_user, :init_or_receiv => @current_user_status %>
					</div>
				</li>
			</ul>

			<h2><%= @trade.other_user(current_user).full_name %>'s Cards</h2>
			<ul class="accordion-tabs">
				<li class="tab-header-and-content">
					<%= link_to "Trade List", root_url, :class => "is-active tab-link", :remote => true %>
					<div class="tab-content">
						<%= render "display_cancelled_or_complete_trade", :bool => true, :user => @user, :init_or_receiv => @user_status %>
					</div>
			</ul>
	<% end %>

</div>