<div class="section-inner search-theme mobile-collapse">

	<% if @trade.initiator == current_user %>

			<h2>Your Cards</h2>
			<% current_user.tradeable_cards.each do |listed_card| %>
				<%= check_box_tag "trade[cards_from_initiator][]", listed_card.id, (true if @trade.cards_from_initiator.include?(listed_card.id)), disabled: true %>
				<%= listed_card.card.name %> <br>
			<% end %>

			<h2><%= @user.first_name%>'s Cards</h2>
			<% @user.tradeable_cards.each do |listed_card| %>
				<%= check_box_tag "trade[cards_from_receiver][]", listed_card.id, (true if @trade.cards_from_receiver.include?(listed_card.id)), disabled: true %>
				<%= listed_card.card.name %> <br>
			<% end %>

	<% elsif @trade.receiver == current_user %>

			<h2>Your Cards</h2>
			<% current_user.tradeable_cards.each do |listed_card| %>
				<%= check_box_tag "trade[cards_from_receiver][]", listed_card.id, (true if @trade.cards_from_receiver.include?(listed_card.id)), disabled: true %>
				<%= listed_card.card.name %> <br>
			<% end %>

			<h2><%= @user.first_name%>'s Cards</h2>
			<% @user.tradeable_cards.each do |listed_card| %>
				<%= check_box_tag "trade[cards_from_initiator][]", listed_card.id, (true if @trade.cards_from_initiator.include?(listed_card.id)), disabled: true %>
				<%= listed_card.card.name %> <br>
			<% end %>

	<% end %>
	<% unless @trade.status == "complete" %>
		<%= button_to "Accept Trade", accept_trade_path(@trade.id) %>
		<%= link_to "Modify Trade", edit_trade_path(@trade.id) %>
	<% end %>

</div>





