<!DOCTYPE html>
<html>
  <head>

    <title>MTG TRADE BINDER DELUXXE</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>

  <body>

        <h1> MTG TRADE BINDER </h1>
          <% if current_user %>
            Signed in as <%= current_user.email %>. <br/>at <%= current_user.latitude %> <%= current_user.longitude %> 
            <%= link_to "Log out", session_path("current"), :method => :delete %><br>
          <% end %>
    
    <!-- nav -->
  
             <%= link_to "Card Search", cards_path%>

      
        <% if current_user %>
          <%= link_to "Trade Binder", user_path(current_user.id)%>
          <%= link_to "My Trades", user_trades_path(current_user.id) %>
          <%= link_to "Find Trades", users_path%>
          <%= link_to "Settings", root_path %>
        <% else %>
                <%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
        <% end %>
      
        <%= yield %>

  </body>

</html>
