<!DOCTYPE html>
<html>
  <head>
    <title>MTG TRADE BINDER DELUXXE</title>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Cinzel:900,700,400' rel='stylesheet' type='text/css'>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <div href="/cards" class="logo">
      <h1> MTG </br> Trade <br> Binder </h1>
    </div>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
      <% if current_user %>
        <li class="nav-link"><%= link_to "Card Search", root_path %></li>
        <li class="nav-link"><%= link_to "My Binder", user_path(current_user.id)%></li>
        <li class="nav-link"><%= link_to "My Trades", user_trades_path(current_user.id) %></li>
        <li class="nav-link"><%= link_to "Find Trades", users_path%></li>

              </ul>
            </li>
          </ul>
        </li>
      <% end %>
      </ul>
    </nav>
    <div class="navigation-tools">
      <% if current_user %>
        <li class="nav-link"><p>Signed in as <%= current_user.email %></p></li>
        <%= link_to "Log out", session_path("current"), :method => :delete, :class =>"sign-up" %> 
      <% else %>
        <a href="/sessions/new" class="sign-up">Log In</a>
        <a href="/users/new" class="sign-up">Sign Up</a>
      <% end %>
    </div>
  </div>
</header>


   
    <div class = "pokedex collapsable", id = "search"> <!-- found in stylseheets/modules.pokedex.scss -->

       
  </div>  <!-- thehead -->


</div>

 <!--  <div class="cardbox fullerton ">
    This Element Needs Purpose
  </div> -->
</div>

    <!-- nav -->

    <div class = "mainscreen collapsable">
      <%= yield %>
    </div>
<!-- 
    <div class="wrapper-for-content-outside-of-footer">
      Uncomment this whole section for a sticky footer. The content of the page should be inside of this .wrapper-for-content-outside-of-footer
    </div> -->

   <div class = "thefoot collapsable">
    <div class="majickdaddies">
      <h1> MAJICK DADDIES 2015</h1>
    </div>
    <div class= "logos">
      <a href="https://github.com/pschwyter/mtg_json_api">
        <%= image_tag "github.jpg" %>
      </a>
    </div>
  </div>
  </body>

</html>
