<!DOCTYPE html>
<html>
<head>
  <title>MtgJsonApi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "titlediv">
	<img src = http://bestanimations.com/Humans/Skulls/Skull-09-june.gif>
	MTG TRADE BINDER!!!!
	<img src = http://bestanimations.com/Humans/Skulls/Skull-09-june.gif>

</div>


<div class = 'content'>

  <img src = "http://www.picgifs.com/graphics/t/torch/graphics-torch-617948.gif">
  WELCOME
  <img src = "http://www.picgifs.com/graphics/t/torch/graphics-torch-617948.gif">
  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
  <% end %>

   <li><%= link_to "User Profile", user_path(current_user.id) %></li>
   <li><%= link_to "Search Cards", cards_path %></li>

  <p class="userinfo">
  
  <% if current_user %>
    Signed in as <%= current_user.email %>. at <%= current_user.coordinates %> 
    <%= link_to "Log out", session_path("current"), :method => :delete %>
  <% else %>
    <%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
  <% end %>

  <%= yield %>


</div>
</body>
</html>
