<!DOCTYPE html>
<html>
  <head>
    <title>MTG TRADE BINDER DELUXXE</title>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <%= include_gon %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header class="navigation" role="banner">
      <div class="navigation-wrapper">
        <a href="/cards" class="logo">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
        </a>
        <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
        <nav role="navigation">
          <ul id="js-navigation-menu" class="navigation-menu show">
          <% if current_user %>
            <li class="nav-link"><%= link_to "My Binder", user_path(current_user.id)%></li>
            <li class="nav-link"><%= link_to "My Trades", user_trades_path(current_user.id) %></li>
            <li class="nav-link"><%= link_to "Find Trades", users_path%></li>
            <li class="nav-link"><%= link_to "Card Search", cards_path%></li>
          <% else %>
          <% end %>
          </ul>
        </nav>
        <div class="navigation-tools">
          <% if current_user %>
            <ul>
              <li class="nav-link"><p>Signed in as <%= current_user.email %></p></li>
              <%= link_to "Log out", session_path("current"), :method => :delete, :class =>"sign-up" %> 
            </ul>
          <% else %>
            <a href="/sessions/new" class="sign-up">Log In</a>
            <a href="/users/new" class="sign-up">Sign Up</a>
          <% end %>
        </div>
      </div>
    </header>
   
    <div class = "pokedex collapsable", id = "search"> <!-- found in stylseheets/modules.pokedex.scss -->

    </div>

    <!-- nav -->

    <div class = "mainscreen collapsable">
      <%= yield %>
    </div>

  </body>

</html>
