<!DOCTYPE html>
<html>
  <head>

    <title>MTG TRADE BINDER DELUXXE</title>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>

<body>
  <div class = " thehead"> <!-- Found in /stylesheets/modules/thehead.scss -->
      <div class ="maintitle">
        <div class="text">
          <h4> The Magic,<br/> The Gathering,<br/> The Trade,<br/> The Binder </h4>
        </div>
      </div>
      <div class= "interface">
        <div class = "signin">
          <% if current_user %>
            Signed in as <%= current_user.email %> 
            <%= link_to "Log out", session_path("current"), :method => :delete %> 
       <% end %>
        </div>

        <div class = "menu">
          <% if current_user %>
            <div class = "menuitem"><%= link_to "Trade Binder", user_path(current_user.id)%> </div>
            <div class = "menuitem"><%= link_to "User Trades", user_trades_path(current_user.id) %></div>
            <div class = "menuitem"><%= link_to "Find Trades", users_path%></div>
            <div class = "menuitem"><%= link_to "User Settings", edit_user_path(current_user.id) %></br></div>
          <% else %>
            <div class = "menuitem"><%= link_to "Log in", new_session_path %> </div>
            <div class = "menuitem"><%= link_to "Sign up", new_user_path %></div>

          <% end %>
        </div>
        
  </div>


 </div>
  <div class = "pokedex">
    <div class ="search">
      <%= render '/cards/search' %>
    </div>
    <div class="cardbox">
      This Element Needs Purpose
    </div>
  </div>

  <!-- nav -->

    

      <div class = "mainscreen">
    
      <%= yield %>
      </div>

</body>

</html>
