<!DOCTYPE html>
<html>
  <head>
    <title>MTG TRADE BINDER DELUXXE</title>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Cinzel:900,700,400' rel='stylesheet' type='text/css'>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class = " thehead collapsable "> <!-- Found in /stylesheets/modules/thehead.scss -->
      <!-- MAINTITLE -->
      <div class ="maintitle">
        <div class="text">
          <h1> MTG </br> Trade Binder </h1>
        </div>
      </div>
      <!-- INTERFACE -->
      <div class= "interface">
        <div class = "signin">
                  </div>
       
       <div class = "menu ">
          <% if current_user %>
            <div class = "menuitem"><%= link_to "Card Search", root_path %> </br> </div>
            <div class = "menuitem"><%= link_to "My Binder", user_path(current_user.id)%> </div>
            <div class = "menuitem"><%= link_to "My Trades", user_trades_path(current_user.id) %> </div>
            <div class = "menuitem"><%= link_to "Find Trades", users_path%> </div>
           
             
          </div>
          <div class = "logger">
            <% if current_user %>
                 <div class = "signin">
                  <h1> Signed in as <%= current_user.full_name %>
                   <%= link_to "Log out", session_path("current"), :method => :delete %> 
                 </div>
                </h1>
              <% end %>
                </div>
          <% else %>
            <div class = "menuitem"><%= link_to "Log in", new_session_path %> </div>
            <div class = "menuitem"><%= link_to "Sign up", new_user_path %> </div>
          <% end %>
        </div>
        </div>


      </div>

    </header>


   
    <div class = "pokedex collapsable", id = "search"> <!-- found in stylseheets/modules.pokedex.scss -->

       
  </div>  <!-- thehead -->


</div>

 <!--  <div class="cardbox fullerton ">
    This Element Needs Purpose
  </div> -->
</div>

    <!-- nav -->

    <div class = "mainscreen collapsable">
      <%= yield %>
    </div>
<!-- 
    <div class="wrapper-for-content-outside-of-footer">
      Uncomment this whole section for a sticky footer. The content of the page should be inside of this .wrapper-for-content-outside-of-footer
    </div> -->

  <footer class="footer-2" role="contentinfo">
    <div class="footer-logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
    </div>
      <ul>
        <li><a href="javascript:void(0)">About</a></li>
        <li><a href="javascript:void(0)">Contact</a></li>
        <li><a href="javascript:void(0)">Products</a></li>
      </ul>
      <div class="footer-secondary-links">
        <ul>
          <li><a href="javascript:void(0)">Terms and Conditions</a></li>
          <li><a href="javascript:void(0)">Privacy Policy</a></li>
        </ul>

        <ul class="footer-social">
          <li><a href="https://github.com/pschwyter/mtg_json_api">
            <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" alt="Facebook">
            </a></li>
          <li><a href="javascript:void(0)">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
          </a></li>
          <li><a href="javascript:void(0)">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
          </a></li>
        </ul>
      </div>
      
  </footer>

  </body>

</html>
